@import url("./uaplus.css");

:root {
	/* Colors */
	--color-primary: #566F8F;
	--color-secondary: #A8BFDC;
	--color-accent: #DC6F41;
	--color-accent-soft: #FCB89B;

	/* Layout */
	--max-width: 1200px;
	--container-padding: 1rem;

	/* Root level setting */
	box-sizing: border-box;

	/* Font */
	--font-mincho: "FOT-筑紫Aオールド明朝 Pr6 R", 'Hiragino Mincho Pro', serif;
	--font-gothic: "FuturaLTPro-Medium", "Futura", "ヒラギノ角ゴ Pro W3", "Meiryo", sans-serif;
	--font-gothic-bold: "FuturaLTPro-Heavy", "Futura", "ヒラギノ角ゴ Pro W6", "Meiryo", sans-serif;
}

@media (width >=768px) {
	:root {
		--container-padding: 2rem;
	}
}

@media (width >=1024px) {
	:root {
		--container-padding: 3rem;
	}
}

body {
	padding: 0;
	margin: 0;
	font-family: var(--font-gothic);
}

/*
Container
セクションコンポーネントのトップレベルで使用する。
*/
.hero-container {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: var(--max-width);
	padding: 0;
	margin: 0 auto;
	text-align: center;
}

.container {
	box-sizing: border-box;
	width: 100%;
	max-width: var(--max-width);
	padding: 0;
	margin: 8rem auto 0;
}

.text-large {
	max-width: 100%;
	font-family: 'Futura PT', sans-serif;
	font-size: 56px;
	font-style: normal;
	font-weight: 500;
	line-height: 90px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.text-medium {
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 25px;
	font-style: normal;
	font-weight: 500;
	line-height: 36px;
	color: #000;
	text-align: center;
}

.font-gothic {
	font-family: var(--font-gothic);
}

.font-gothic-bold {
	font-family: var(--font-gothic-bold);
}

/* Full, Wide, Content classes */
.content {
	width: 92%;
	max-width: 540px;
	margin: 0 auto;
}

.wide-content {
	width: 92%;
	max-width: 650px;
	margin: 0 auto;
}

.full-content {
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
}

@media screen and (width >=768px) {
	.container {
		margin: 12rem auto 0;
	}

	.text-large {
		font-size: 70px;
	}

	.content {
		width: 540px;
		margin: 0 auto;
	}

	.wide-content {
		width: 922px;
		max-width: 96%;
		margin: 0 auto;
	}

	.full-content {
		width: 100%;
		max-width: 100%;
		margin: 0 auto;
	}
}