@import url("./uaplus.css");

/* Custom CSS Reset */
button {
	padding: 0;
	appearance: none;
	cursor: pointer;
	outline: none;
	background-color: transparent;
	border: none;
}

h2 {
	padding: 0;
	margin: 0;
}

/* Loading font */
@font-face {
	font-family: "Noto Sans JP Light";
	font-style: normal;
	font-weight: 300;
	src:
		local("Noto Sans JP Light"),
		url("/fonts/NotoSansJP-Light.ttf") format("truetype");
	font-display: swap;
}

@font-face {
	font-family: "Noto Sans JP Regular";
	font-style: normal;
	font-weight: 400;
	src:
		local("Noto Sans JP Regular"),
		url("/fonts/NotoSansJP-Regular.ttf") format("truetype");
	font-display: swap;
}

@font-face {
	font-family: "Noto Sans JP Bold";
	font-style: normal;
	font-weight: 700;
	src:
		local("Noto Sans JP Bold"),
		url("/fonts/NotoSansJP-Bold.ttf") format("truetype");
	font-display: swap;
}

:root {
	/* Colors */
	--color-primary: #566f8f;
	--color-secondary: #a8bfdc;
	--color-accent: #dc6f41;
	--color-accent-soft: #fcb89b;

	/* Layout */
	--max-width: 1200px;
	--container-padding: 1rem;

	/* Root level setting */
	box-sizing: border-box;

	/* Font */
	--font-mincho: "FOT-筑紫Aオールド明朝 Pr6 R", "Hiragino Mincho Pro", serif;
	--font-gothic-light:
		"FuturaLTPro-Light", "Futura", "Noto Sans JP Light",
		"ヒラギノ角ゴ Pro W3", "Meiryo", sans-serif;
	--font-gothic:
		"FuturaLTPro-Book", "Futura", "Noto Sans JP Regular",
		"ヒラギノ角ゴ Pro W4", "Meiryo", sans-serif;
	--font-gothic-medium:
		"FuturaLTPro-Medium", "Futura", "Noto Sans JP Medium",
		"ヒラギノ角ゴ Pro W5", "Meiryo", sans-serif;
	--font-gothic-bold:
		"FuturaLTPro-Heavy", "Futura", "Noto Sans JP Bold",
		"ヒラギノ角ゴ Pro W6", "Meiryo", sans-serif;
}

@media (width >=768px) {
	:root {
		--container-padding: 2rem;
	}
}

@media (width >=1024px) {
	:root {
		--container-padding: 3rem;
	}
}

body {
	padding: 0;
	margin: 0;

	/* Light Gothic Font */
	font-family: var(--font-gothic-light);
}

/*
Container
セクションコンポーネントのトップレベルで使用する。
*/
.hero-container {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: var(--max-width);
	padding: 0;
	margin: 0 auto;
	text-align: center;
}

.container {
	box-sizing: border-box;
	width: 100%;
	max-width: var(--max-width);
	padding: 0;
	margin: 8rem auto 0;
}

.text-large {
	max-width: 100%;
	font-family: "Futura PT", "Noto Sans JP", sans-serif;
	font-size: 56px;
	font-style: normal;
	font-weight: 500;
	line-height: 90px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.text-medium {
	font-family: "Noto Sans JP", sans-serif;
	font-size: 25px;
	font-style: normal;
	font-weight: 500;
	line-height: 36px;
	color: #000;
	text-align: center;
}

.font-gothic {
	font-family: var(--font-gothic);
}

.font-gothic-bold {
	font-family: var(--font-gothic-bold);
}

/* Full, Wide, Content classes
最終的に何個の`content`クラスが必要か確定していないため
3個のクラスを用意している */
.content {
	width: 92%;
	max-width: 540px;
	margin: 0 auto;
}

.wide-content {
	width: 92%;
	max-width: 650px;
	margin: 0 auto;
}

.full-content {
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
}

@media screen and (width >=768px) {
	.container {
		margin: 12rem auto 0;
	}

	.text-large {
		font-size: 70px;
	}

	.content {
		width: 540px;
		margin: 0 auto;
	}

	.wide-content {
		width: 922px;
		max-width: 96%;
		margin: 0 auto;
	}

	.full-content {
		width: 100%;
		max-width: 100%;
		margin: 0 auto;
	}
}
